.buttons{
    display: flex;
    justify-content: center;
}

.delete-button, .edit-button, .details-button{
    border-radius: 150px;
    background-color: #B6C4B6;
    padding: 8px;
    color: #434D68;
    margin-right: 10%;
    width: 100px;
}

.delete-button:hover {
    background-color: #DA1F3B;
    color: white;
}

.edit-button:hover {
    background-color: #434D68;
    color: white;
}

.details-button:hover {
    background-color: #028119;
    color: white;
}